
doctype html
head
    meta(charset='UTF-8')
    title JobCat! Track your jobs with ease!
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet')
    link (rel="stylesheet" href="./public/css/reset.css")
    link(rel='stylesheet', href='/css/loginlogout.css' type="text/css")
#jobCatWrap
  #jobCatContainer
    #floatingGraphic1 1
    #floatingGraphic2 2
    #floatingGraphic3 3
    #floatingGraphic4 4
    #floatingGraphic5 5
    #floatingGraphic6 6
    #catBranding
        #catLogo
            span JobCat!
        h1 Sorry we couldn't find that!
        h2 Login below apply to jobs!
    #btnWrap
        a#loginLogoutBTN(href='/dashboard') Begin!
    #copyright
        p &copy;2018 Kent, Sarah, Dan &amp; Nick
script(src='https://code.jquery.com/jquery.js')
// script(src='./js/loginlogout.js')
