doctype html
head
  meta(charset='UTF-8')
  title JobCat! Track your jobs with ease!
  link(href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet')
  link(rel='stylesheet' href='./public/css/reset.css')
  link(rel='stylesheet' href='./public/css/loginlogout.css')
#jobCatWrap
  #jobCatContainer
    #floatingGraphic1 1
    #floatingGraphic2 2
    #floatingGraphic3 3
    #floatingGraphic4 4
    #floatingGraphic5 5
    #floatingGraphic6 6
    #catBranding
      #catLogOut
        span See you soon!
      h1 Good luck on your job!
      h2 Until we meet again!
    #btnWrap
      a#loginLogoutBTN(href='/') Log back in!
    #copyright
      p &copy;2018 Kent, Sarah, Dan &amp; Nick
script(src='https://code.jquery.com/jquery.js')