extends topAndSideBars

block content
	.container
		.card
			.card-body
				h5#job-post-1.card-title
				p#date-1.card-text
				a.btn.btn-primary(href='#') Go to listing

		script 
			include ../public/js/postings.js