extends topAndSideBars

block content
	.container
		.card
			.card-body
				h5#job-post-1.card-title
				p#date-1.card-text
				a#link-1.btn.btn-primary(href='#') Go to listing
		.card
			.card-body
				h5#job-post-2.card-title
				p#date-2.card-text
				a#link-2.btn.btn-primary(href='#') Go to listing

		script 
			include ../public/js/postings.js