.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #f3220b;
}

html, body {
  background-color: #024C69;
  margin: 10px;
}
/* HEADER */
.container > div:nth-child(1n) {
  background-color: #FEB018;	
}
.container > div:nth-child(2n) {
  background-color: #FEB018;
  color: #024C69;
  font-family: 'Staatliches', cursive; 
  font-size: 80px;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}