.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #f3220b;
}

html, body {
  background-color: #024C69;
  margin: 10px;
}

nav {
  display: grid;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  background-color: rgb(13, 31, 37);
  color: rgb(214, 196, 161);
  padding: 10px;
  justify-items: left;
  text-align: left;
}

/* HEADER */
.container > div:nth-child(2n) {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  color: #024C69;
  background-color: #FDB016;	
}

/* CONTENT */
.container > div:nth-child(3n) {
  background-color: #b4afb3;
}

/* FOOTER */
.container > div:nth-child(4n) {
      display: flex;
      justify-content: spa;
      align-items: center;
      background-color: #FDB016;
      color: #024C69;
      font-family: 'Staatliches', cursive;
      font-size: 100px; 
}
